/*!
* craffft - Main CSS Testfile
* Here should be a numbered version after compilation/build: v{CRAFFFT_PROJECT_VERSION}
*/

@import 'postcss/*';

body {
  font-family: 'Helvetica Neue';
  background: #222;
  color: white;
}

.postcss {
  color: black;
}
 

 .prefixes-text {
   display: flex;
 }

/*!
* Here also should be a numbered version after compilation/build: v{CRAFFFT_PROJECT_VERSION}
*/
